[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/forge-5980-test-dep"]
	path = lib/forge-5980-test-dep
	url = https://github.com/jameswenzel/forge-5980-test-dep
